<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="tucanchaappEntities" connectionString="metadata=res://*/Models.Futb.csdl|res://*/Models.Futb.ssdl|res://*/Models.Futb.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=12345;database=tucanchaapp&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
